<div class="relatedCard">
  <div class="cardImg" src="{{book.image}}" alt=""></div>
  <div class="cardName">{{book.title}}</div>
  <div class="price">{{book.price}}</div>
  <button><a href="/book/{{id}}"></a>more info</button>
</div>