<div class="relatedCard">
  <div class="cardImg" src="{{book_img}}" alt=""></div>
  <div class="cardName">{{book.title}}</div>
  <div class="price">{{book_price}}</div>
  <button><a href="{{book-route}}"></a>more info</button>
</div>