<p id="logo">Scribble-Prose</p>
<input type="text" name="Search" id="searchinput" placeholder="Search">
<div id="btnContainer">
    <button id="cart"><a href="cart">Cart</a></button>
    <button id="logout"><a href="Logout">Logout</a></button>