<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/jass.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="../public/js/script.js" defer></script>

    <title>Document</title>
</head>

<body>
    <header>

        <p id="logo">Scribble & Prose</p>
        <input type="text" name="Search" id="searchinput" placeholder="Search">
        <div id="btnContainer">
            <button id="cart"><a href="cart">Cart</a></button>
            <button id="login"><a href="Login">Logout</a></button>


        </div>

    </header>

    <main class="loginReg">

       <form action="login" id="loginForm" >
        <p>Log In</p>
        <div class="loginInput">
        <input type="text" placeholder="Email" id="loginEmail">
        <input type="text" placeholder="Password" id="loginPassword">
    </div>
        <button>Submit</button>
       </form>

       <form action="register" id="registerForm" >
        <p>register</p>
        <div class="regInput">
        <input type="text" placeholder="User Name" id="registerUserName">
        <input type="text" placeholder="Email" id="registerEmail">
        <input type="text" placeholder="Password" id="registerPassword">
        <input type="text" placeholder="Confirm Password" id="registerPasswordConfirm">
    </div>
        <button>Submit</button>
       </form>
        
      
    
    </div>
    

    </main>

  

    
</body>

</html> -->