<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/jass.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/script.js" defer></script>
  <script src="/js/header.js" defer></script>
  <title>Scribble-Prose</title>
</head>

<body class="display-flex flex-column">
  <header class="display-flex w-100">
    <div class="row w-100">

      <div id="logo" class="col-3 display-flex justify-flex-start align-center"><a style="text-decoration:none"
          class="text-dark" href="/" class="ml-2">Scribble-Prose</a></div>

      <div class="col-6"></div>


      <div id="btnContainer" class="col-3">

        {{#if logged_in}}
        <h4>Hello, {{user.username}} </h4>
        <button id="cart"><a href="/cart">Cart</a></button>
        <button class="btn" id="/logout">logout</button>
        {{else}}


        <button id="login"><a href="/login">Register</a></button>
        <button><a href="/search">Search</a></button>

        {{/if}}
      </div>

    </div>

  </header>


  <div class="content">
    {{{body}}}
  </div>

</body>

</html>