<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/jass.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/script.js" defer></script>
  <script src="/js/logout.js" defer></script>
  <script src="/js/header.js" defer></script>
  <script src="/js/login.js" defer></script>

  <title>Scribble-Prose</title>
</head>

<body class="">
  <header class="">


    <div id="logo" class=""><a class="" href="/" class="">Scribble-Prose</a></div>



    <div id="btnContainer" class="">
      {{#if loggedIn}}

      <p id="userName">Hello, {{name}} </p>

      {{/if}}

      {{#unless search}}
      <button class="headerbtn" id="headersearchbtn"><a href="/search">Search</a></button>
      {{/unless}}

      {{#if loggedIn}}

      {{#unless cart}}
      <button class="headerbtn" id="cart"><a href="/cart">Cart</a></button>
      {{/unless}}
      <button class="headerbtn" id="logout">Logout</button>
      {{else}}
      <button class="headerbtn" id="login"><a href="/login">Login/Register</a></button>

      {{/if}}

    </div>

    </div>

  </header>

  <div class="content">
    {{{body}}}
  </div>

</body>

</html>