<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/jass.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="../public/js/script.js" defer></script>

    <title>Document</title>
</head>

<body>
    <header>
        <p id="logo">Book-A-Zon</p>
        <input type="text" name="Search" id="searchinput" placeholder="Search">
        <div id="btnContainer">
            <button id="cart"><a href="cart">Cart</a></button>
            <button id="login"><a href="Login">Login</a></button>
        </div>
    </header>

   
        
            {{{body}}}
       
    
</body>

</html>