<br/><br/><br/><br/><br/>
<div class="wrapper author">
<h1>{{author}}</h1>

<div class="product-row">
    {{#each bookList}}

    <div class="product-card">
        <h4>{{title}}</h4>
        {{#if image}}
        <img src="/images/{{image}}"/>
        {{/if}}
        
    </div>

    {{/each}}
</div>
</div>
