<main>

        <div class="body">

            <div class="card">

                <div class="divAsideL">
                    <div class="img"></div>

                    <button class="author">Author</button>
                    <button class="Publisher">Publisher</button>
                    <button class="Genre">Genre</button>
                    <button class="addToCart">Add To Cart</button>
                    <button class="Favorite">Favorite</button>

                </div>

                <div class="divCenter">

                    <div class="bookName">Harry Potter and the Half Blood Prince <br>
                        <div class="inventory">Qty: 5 in stock</div>
                        <div class="price">$6.99</div>
                    </div>



                    <div class="bookDescription">Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Nesciunt, quasi dicta. Dignissimos reprehenderit
                        hic, quisquam error enim voluptatibus similique earum beatae tempora
                        laborum, vel officiis? Deserunt hic fugiat ut, velit incidunt
                        accusantium qui beatae ad consequatur perspiciatis tempora eveniet
                        reiciendis quidem. Iusto, dolore! Earum quibusdam soluta quam aliquam
                        consequatur obcaecati.</div>
                </div>


            </div>

            <div class="review">
                <div class="reviewPosts"></div>
                <input type="text" name="postAReview" id="reviewPost" placeholder="Write a Review" />
            </div>

        </div>
        <div class="related">

            <div class="relatedHeader">Related Books</div>

            <div class="relatedSearch">

                <div class="relatedCard">
                    <div class="cardImg" img src="x" alt=""></div>
                    <div class="cardName"></div>
                    <div class="price"></div>
                    <button>more info</button>
                </div>

                <div class="relatedCard">
                    <div class="cardImg"></div>
                    <div class="cardName"></div>
                    <div class="price"></div>
                    <button>more info</button>
                </div>

                <div class="relatedCard">
                    <div class="cardImg"></div>
                    <div class="cardName"></div>
                    <div class="price"></div>
                    <button>more info</button>
                </div>

                <div class="relatedCard">
                    <div class="cardImg"></div>
                    <div class="cardName"></div>
                    <div class="price"></div>
                    <button>more info</button>
                </div>

                <div class="relatedCard">
                    <div class="cardImg"></div>
                    <div class="cardName"></div>
                    <div class="price"></div>
                    <button>more info</button>
                </div>
            </div>
        </div>

    </main>