     <label for="">firstname</label>
    <input type="text" name="first_name">
        <label for="">lastname</label>
    <input type="text" name="last_name">
    <label for="">email</label>
    <input type="text" name="email">
    <label for="">password</label>
    <input type="text" name="password">
    <label for="">address</label>
    <input type="text" name="address">
    <label for="">city</label>
    <input type="text" name="city">
    <label for="">zipcode</label>
    <input type="text" name="zip">
    <label for="">state</label>
    <input type="text" name="state">
    <input type="submit" value="Sign Up">
