<main>
           <div class="body">

            <div class="cardDeckSearch">
                
                {{!-- <div class="cardDeck"> --}}
                    {{#each bookHomePage as |book|}}
                    
                    {{> bookMiniCard}}
                   
                    {{/each}}
                {{!-- </div> --}}
              
            {{!-- </div> --}}

             {{!-- <div class="cardDeckSearch">
               
                <div class="cardDeck">
                    {{#each bookHomePage as |book|}}
                    {{> bookMiniCard}}
                    {{/each}}
                </div>
              
            </div>

             <div class="cardDeckSearch">
                
                <div class="cardDeck">
                    {{#each bookHomePage as |book|}}
                    {{> bookMiniCard}}
                    {{/each}}
                </div> --}}
                
            </div>

    </main>