<main>
           <div class="body">

            <div class="cardDeckSearch">
                
                
                    {{#each bookHomePage as |book|}}
                    
                    {{> bookMiniCard}}
                   
                    {{/each}}
       
                
            </div>

    </main>