<main>
           <div class="body">

            <div class="cardDeckSearch">
                <button id="booksBack"><i class="arrowLeft"></i></button>
                <div class="cardDeck">
                    {{#each bookHomepage.book as |book|}}
                    {{#if (genre=fantasy)}}
                    {{> bookMiniCard}}
                    {{/if}}
                    {{/each}}
                </div>
                <button id="booksNext"><i class="arrowRight"></i></button>
            </div>

             <div class="cardDeckSearch">
                <button id="booksBack"><i class="arrowLeft"></i></button>
                <div class="cardDeck">
                    {{#each book.matches as |book|}}
                    {{> bookMiniCard}}
                    {{/each}}
                </div>
                <button id="booksNext"><i class="arrowRight"></i></button>
            </div>

             <div class="cardDeckSearch">
                <button id="booksBack"><i class="arrowLeft"></i></button>
                <div class="cardDeck">
                    {{#each book.matches as |book|}}
                    {{> bookMiniCard}}
                    {{/each}}
                </div>
                <button id="booksNext"><i class="arrowRight"></i></button>
            </div>

    </main>