<main class="loginReg">

  <form id="loginForm">
    <p>Login</p>
    <div class="loginInput">
      <label for="email-login">Email</label>
      <input type="text" placeholder="Email" id="email-login">
      <label for="password-login">Password</label>
      <input type="password" placeholder="Password" id="password-login">
    </div>
    <button type="submit">Login</button>
  </form>

  <form id="registerForm">
    <p>Register</p>
    <div class="regInput">
      <label for="registerUserName">username</label>
      <input type="text" placeholder="User Name" id="registerUserName">
      <label for="registerEmail">Email</label>
      <input type="text" placeholder="Email" id="registerEmail">
      <label for="registerPassword">Password</label>
      <input type="password" placeholder="Password" id="registerPassword">
      <label for="registerPasswordConfirm">Confirm Password</label>
      <input type="password" placeholder="Confirm Password" id="registerPasswordConfirm">
    </div>
    <button type="submit">Register</button>
  </form>
  </div>
  <script src="/js/login.js"></script>
</main>