<main class="loginReg">

  <form action="register" id="registerForm" ction="/api/users" method="POST">
    <p>register</p>
    <div class="regInput">
      <input type="text" placeholder="User Name" id="registerUserName">
      <input type="text" placeholder="Email" id="registerEmail">
      <input type="text" placeholder="Password" id="registerPassword">
      <input type="text" placeholder="Confirm Password" id="registerPasswordConfirm">
    </div>
    <button>Submit</button>
  </form>
  </div>
</main>

<div id="homeLoginForm">
  <form action="login" id="loginForm">

    <h2>Welcome,</h2>


    <p> Please log in to continue</p>
    <div class="loginInput">
      <input type="text" placeholder="Email" id="loginEmail">
      <input type="text" placeholder="Password" id="loginPassword">
    </div>
    <button>Submit</button>
  </form>
</div>

<label for="">firstname</label>
<input type="text" name="first_name">
<label for="">lastname</label>
<input type="text" name="last_name">
<label for="">email</label>
<input type="text" name="email">
<label for="">password</label>
<input type="text" name="password">
<label for="">address</label>
<input type="text" name="address">
<label for="">city</label>
<input type="text" name="city">
<label for="">zipcode</label>
<input type="text" name="zip">
<label for="">state</label>
<input type="text" name="state">
<input type="submit" value="Sign Up">