<main class="loginReg">

    <form action="login" id="loginForm">
<p>Login</p>
    <div class="loginInput">
        <label for="loginEmail">Email</label>
      <input type="text" placeholder="Email" id="loginEmail">
      <label for="loginPassword">Password</label>
      <input type="text" placeholder="Password" id="loginPassword">
    </div>
    <button><a href="/api/login">Login</a></button>
  </form>

  <form action="register" id="registerForm" ction="/api/users" method="POST">
    <p>Register</p>
    <div class="regInput">
         <label for="registerUserName">username</label>
      <input type="text" placeholder="User Name" id="registerUserName">
       <label for="registerEmail">Email</label>
      <input type="text" placeholder="Email" id="registerEmail">
       <label for="registerPassword">Password</label>
      <input type="text" placeholder="Password" id="registerPassword">
       <label for="registerPasswordConfirm">Confirm Password</label>
      <input type="text" placeholder="Confirm Password" id="registerPasswordConfirm">
    </div>
    <button><a href="/api/register">Register</a></button>
  </form>
  </div>
</main>
