<main class="loginReg">

  <form action="register" id="registerForm" action="/api/users" method="POST">
    <p>Register</p>
    <div class="regInput">
        
      <div class="user_info">
        <p>User Info</p>
        <label for="">username</label>
        <input type="text" placeholder="Required" id="registerUserName" required/>
        <label for="">Email</label>
        <input type="text" placeholder="Required" id="registerEmail" required/>
        <label for="">Password</label>
        <input type="text" placeholder="Required" id="registerPassword" required/>
        <label for="">Confirm Password</label>
        <input type="text" placeholder="Required" id="registerPasswordConfirm" required/>
      </div>

      <div class="shipping_info">
        <p>Shipping Info</p>
        <label for="">First Name</label>
        <input type="text" name="first_name" />
        <label for="">Last Name</label>
        <input type="text" name="last_name" />
        <label for="">Address</label>
        <input type="text" name="address" />
        <label for="">City</label>
        <input type="text" name="city" />
        <label for="">State</label>
        <input type="text" name="state" />
        <label for="">Zipcode</label>
        <input type="text" name="zip" />
      </div>
    </div>

    <input type="submit" value="Register" id="registerbtn"/>
  </form>

</main>