<main class='display-flex flex-column w-100'>


    <div class="display-flex flex-column col-12 " style="gap:16px">

        <div id="searchContainer" class=" mt-5">
            <input type="text" name="Search" id="searchinput" placeholder="Search" />
            <button onclick="performSearch()" id="searchbtn">search</button>
        </div>


        <div class="search-result-container display-grid grid-cols-3" style="gap:12px">

        </div>


    </div>

</main>