<main class='display-flex flex-column w-100'>


    <div class="display-flex flex-column col-12 " style="gap:16px">

        <div id="searchContainer" class=" mt-5">
            <input type="text" name="Search" id="searchinput" placeholder="Search" />
            <button onclick="performSearch()" id="searchbtn">search</button>
        </div>

        <div class="search-result-container display-grid grid-cols-3" style="gap:12px">

        </div>

        <div class="related-container hide">

            <div id="searchMain" class="cardDeckSearch">
                <button id="booksBack"><i class="arrowLeft"></i></button>
                <div class="cardDeck">
                    {{#each book.matches as |book|}}
                    {{> bookMiniCard}}
                    {{/each}}
                </div>
                <button id="booksNext"><i class="arrowRight"></i></button>
            </div>

            <div id="relatedGenre" class="cardDeckSearch">
                <button id="booksBack"><i class="arrowLeft"></i></button>
                <div class="cardDeck">
                    {{#each book.matches as |book|}}
                    {{> bookMiniCard}}
                    {{/each}}
                </div>
                <button id="booksNext"><i class="arrowRight"></i></button>
            </div>

            <div id="relatedAuthor" class="cardDeckSearch">
                <button id="booksBack"><i class="arrowLeft"></i></button>
                <div class="cardDeck">
                    {{#each book.matches as |book|}}
                    {{> bookMiniCard}}
                    {{/each}}
                </div>
                <button id="booksNext"><i class="arrowRight"></i></button>
            </div>

        </div>
    </div>

</main>