* {
  padding: 0%;
  margin: 0%;
}
body,html{
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  /* background-color: rgba(129, 136, 150, 0.664); */
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* box-shadow: 0 1px 5px 1px #999; */
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #ffffff77;
  backdrop-filter: blur(0.5rem);
}

body {
  background-image: url(../images/library.webp);
  background-size: cover;
  z-index: -5;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  background-color: black;
}



main {
  display: flex;
  flex-direction: row;
}



button>a {
    flex-wrap: nowrap;
    color: black;
    text-decoration: none;
  
}

.headerbtn{
  height: 4rem;
  padding: .5em;
  margin: .2rem;
  align-content: center;
  border-radius: .5em;
}



.show {
  display: flex;
}

.hide {
  display: none;
}

.body {
  flex: 1 1 85%;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#userName{
width: 10%;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
}

#btnContainer {
  flex: 0 1 15%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 1rem;
}



#searchinput {
  flex: 0 1 50%;
  height: 5vh;
  /* margin-top: 1vh; */
  border-radius: .35rem 0rem 0rem .35rem ;
  border: none;
  padding: 1rem;
}

.divAsideL {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  flex: 0 1 20vw;
}

.divCenter {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  flex: 0 1 40vw;
}

.btn{
font-weight: 500;
}
.bookName {
  /* margin-top: 3vh; */
  font-weight: 900;
  margin: 3rem;
}

.bookDescription {
  align-self: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.description {
  width: 60%;
  padding: .2rem;
  
}
.details{
  width: 25%;
  padding: .2rem;
}
.img{
  width: 15%;
  padding: .2rem;
  display: block;
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
  max-height: 20vh;
}

.divAsideR {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  flex: 0 1 20vw;
}

.card {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 70vh;
  justify-content: space-evenly;
  background-color: #ffffff77;
  backdrop-filter: blur(0.5rem);
  font-weight: 500;
  margin: 1rem;
  align-self: center;
}



.related {
  flex: 1 1 15vw;
  background-color: #99999977;
  height: 92vh;
  margin-top: 8vh;
  flex-direction: column;
  display: flex;
  background-color: #ffffff77;
  backdrop-filter: blur(0.5rem);
}

.relatedHeader {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-weight: 800;
}

.relatedSearch {
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  overflow-y: scroll;
  flex-wrap: nowrap;
}

.relatedCard {
  align-self: center;
  flex-wrap: nowrap;
  width: 80vw;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.089);
  /* margin-top: 1vh;
  margin-bottom: 1vh; */
  border:1px solid #333;
  margin: .5rem;
  background-color: #ffffff77;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  /* overflow-y: scroll; */
   
}


.review {
  height: 18vh;
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-evenly;
  background-color: #ffffff77;
  backdrop-filter: blur(0.5rem);
  font-weight: 500;
  margin: 1rem;
  align-self: center;
}

#reviewPost {
  width: 90%;
  height: 3vh;
  align-self: center;
}

.cardDeckSearch {
  /* display: flex; */
  flex-direction: column;
  width: 95%;
  height: 80vh;
  justify-content: space-evenly;
  background-color: #ffffff4b;
  backdrop-filter: blur(0.5rem);
  font-weight: 500;
  margin: 1rem;
  align-self: center;
  /* overflow-x: scroll; */
  overflow-y: scroll;
  position: fixed;
  top: 10vh;
  
}





.bookCard {
  height: 20vh;
  width: 15vw;
  background-color: #ffffff77;
  backdrop-filter: blur(0.5rem);
  margin: 1rem;
  align-self: center;
}

.cardDeck {
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: space-evenly;
  flex: 0 1 80%;
  align-content: center;
  
}



#loginForm {
  width: 25vw;
  background-color: #99999977;
  height: 60vh;
  margin: 2rem;
  flex-direction: column;
  display: flex;
  background-color: #ffffff77;
  backdrop-filter: blur(0.5rem);
  justify-content: space-evenly;
  align-content: center;
  padding: 1.5rem;
}

#loginForm > p {
  align-self: center;
  font-size: 2rem;
  font-weight: 700;
}

#loginForm > h2{
  align-self: center;
  font-weight: 700;
}

#loginForm > button {
  margin-top: 0.5rem;
}

.loginInput > input {
  align-self: center;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.25rem;
  width: 100%;
  margin: 0.5rem;
}

#registerForm {
  flex: 0 1 30vw;
  background-color: #99999977;
  height: 60vh;
  margin: 5rem;
  flex-direction: column;
  display: flex;
  background-color: #ffffff77;
  backdrop-filter: blur(0.5rem);
  justify-content: space-evenly;
  align-content: center;
}

#registerForm > p {
  align-self: center;
  font-size: 2rem;
  font-weight: 700;
}

.loginReg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.loginInput {
  display: flex;
  flex-direction: column;
}


#signupForm input[type="submit"]{
  max-width: 100px;
}

.product-row{
  margin-top: 30px;
  display: flex;
  flex-direction: row;;
  gap: 10px;
  flex-wrap: wrap;
}

.product-card{
  background-color: white;
  border-radius: 10px;
  padding: 20px;

  text-align: center;
}

#displayCart{
  background-color: white;;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}
.cart_row{
  padding: 10px 0px;
  display: flex;
  row-gap: 2vh;
}
#total{
  display: flex;
  padding: 10px 0px;
  font-size: 20px;;
  justify-content: end;
}

.regInput {
  display: flex;
  flex-direction: column;
 
  gap: .2rem;
  margin: .2rem;
 
}

.regInput > input {
  margin: 0.2rem;
}

#homeLoginForm {
  width: 100%;
  background-color: #99999977;
  height: 60vh;
  flex-direction: column;
  display: flex;
  background-color: #ffffff77;
  backdrop-filter: blur(0.5rem);
  justify-content: space-evenly;
  align-content: center;
  position: fixed; 
   top: 6rem;
} 

#homepageDeck{
  
    display: flex;
    flex-direction: row;
    width: 98vw;
    height: 25vh;
    justify-content: space-evenly;
    background-color: #ffffff4b;
    backdrop-filter: blur(0.5rem);
    font-weight: 500;
    margin: .7rem;
    align-self: center;
    position: fixed;
    bottom: 0;
    flex-wrap: nowrap;
}


.author h1{
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 16px;
  width: 20%;
  margin: 0 auto;
  padding-block: 0.5rem;
}

.author  img{
  max-width: 220px;
}

#searchContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh;
  flex: 1 1 60%;
  border-radius: .25rem;

} 



.user_info{
  width: 20vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.user_info>p{
  align-self: center;
  font-weight: 700;
}

.shipping_info{
  width: 20vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.shipping_info>p{
  align-self: center;
  font-weight: 700;
}


#login:hover{
  
  box-shadow: 0 2px 5px 1px #333;
  background-color: #99999977;
  color: white;
}

#headersearchbtn:hover{
  box-shadow: 0 2px 5px 1px #333;
  background-color: #99999977;
  color: white;
}

#headersearchbtn>a:hover{
    color: white;
    text-decoration: none;

}

#searchbtn:hover{
  box-shadow: 0 2px 5px 1px #333;
  background-color: #999999bb;
  border-left:1px solid #333;
  color: white;
  height: 3rem;
  border-radius: 0rem .35rem .35rem 0rem;
  padding-left: .5rem;
  padding-right: .5rem;
  font-weight: 500;
}



#searchbtn{
   border-left:1px solid #333;
  color: black;
  height: 3rem;
  border-radius: 0rem .35rem .35rem 0rem;
  padding-left: .5rem;
  padding-right: .5rem;
  font-weight: 500;
}


#logout:hover{
  box-shadow: 0 2px 5px 1px #333;
  background-color: #999;
  color: white;

}

#logout>a:hover{
    color: black;
    text-decoration: none;
}

#cart:hover{
  
  box-shadow: 0 2px 5px 1px #333;
  background-color: #99999977;
  color: white;
}

#cart>a:hover{
  
  color: white;
  text-decoration: none;
}

#logo{
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem;
  width: 10rem;
}

#logo>a{
  color: black;
  text-decoration: none;
}

#checkoutForm {
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
}

input {
  font-size: 112%;
    padding: 0.25rem 0.25rem;
}

#billing {
  margin-top: 3vh;
}

legend {
  font-size: 115%;
}

.formgroup > :first-child {
  font-size: 100%;
}

.wrapper {
  padding-inline: 2rem !important;
}

.cart_row > :nth-child(2) > :nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

#checkout-success-container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4vh;
  font-size: 125%;
  padding-top: 1rem;
}

.display-grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3,1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(3,1fr);
}

@media screen and (max-width: 1100px) {
  
  .headerbtn{
    height: 2rem;
    padding: .5em;
    margin: .2rem;
    align-content: center;
    border-radius: .5em;
  }

  #logo{
    font-size: 1rem;
    font-weight: 500;
    margin: .5rem;
    width: 6rem;
  }
  
  #logo>a{
    color: black;
    text-decoration: none;
  }
  
  header{
    height: 3rem;
  }

  #userName{
    width: 10%;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      font-size: .75rem;
      font-weight: 500;
    }

    .relatedCard {
     
      width: 80%;
      height: 20%;
      
      margin: .5rem;
     
      display: flex;
      flex-direction: row;
      overflow-y: scroll;
       
    }

}
  
