*{
    padding: 0%;
    margin: 0%;
}

header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 8vh;
    background-color: rgba(129, 136, 150, 0.664);
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 1px 5px 1px #999;
    z-index: 2;
    position: fixed;
    top: 0;
}

body{
background-image: url(../images/library.webp);
background-size: cover;
z-index: -5;
}

header>p{
    align-self: center;
    flex-wrap: wrap;
    margin-left: 1vw;
    font-size: 3vh;
    font-weight: 500;
    margin-top: 1vh;    
}

main{
    display: flex;
    flex-direction: row;

}

.filters{
    flex: 1 1 15vw;
    background-color: #99999977;
    height: 92vh;
    margin-top: 8vh;
  
}

.body{
    flex: 1 1 85vw;
    margin-top: 8vh;
    height: 92vh;
}

#btnContainer{
    flex: 0 1 10%;
    display: flex;
    justify-content: space-evenly;

}

#btnContainer>button {
    height: 5vh;
    margin-top: 1vh;
    padding: .5rem;
}

#searchinput{
 flex: 0 1 50%;
 height: 5vh;
 margin-top: 1vh;
}